#
# Copyright (c) 2021-2023 SAKURA. All rights reserved.
# config for SDK core
# Usage:
#       If a feature is required, modify its value to `y` or its own value, like `arm`, that is `CONFIG_XXX=arm`, to enable the feature.
#       If a new feature is finished, append the macro to this file.
# Notice:
#       DO NOT DIRECTLY MODIFY this file, copy and rename it, then modify it.
#

# for the system of target board
CONFIG_SYS_UNIX=y

# daemon thread
CONFIG_DAEMON=y

# for control log module compile, reduce the package size
CONFIG_LOG=y

# number of message redeliver
CONFIG_REDELIVER_COUNT=2

# each time the maximum length of big data that tick can read, it will affect the data processing speed. Default 8kb
CONFIG_READ_BUFFER_LENGTH=8192

# Is it implemented internally? Otherwise, the user will implement this part of the interface
CONFIG_IMPL_MUTEX_LOCK=y
CONFIG_IMPL_ASYNC_SOCKET=y

# Using dynamic memory allocation is statically allocated.
CONFIG_IMPL_STATIC_MEMORY=n